.message_stock{
    margin-left: 50px;
    padding: 10px;
    background-color: rgba(248, 200, 193, 0.63);
    border-radius: 10px;
    font-weight: bold;
    color: red
}

h1{
    padding: 20px;
}

h2 {
    margin-left: 20px;
}
h3{
    padding: 20px;
}

p{
    margin-left: 20px;
    margin-bottom: 30px;
}